# MacOS
.DS_Store

# Sublime Text
app.sublime-project
app.sublime-workspace

# Storybook
.storybook-static-develop
.storybook-static-release

# NPM Papillon Bits
.coverage
node_modules
.env
.npmrc
codecov
lerna-debug.log
npm-debug.log

# NPM Papillon Bits Components Package
packages/components/build
packages/components/node_modules

# NPM Papillon Bits CSS Package
packages/CSS/build
packages/CSS/node_modules

# NPM Papillon Bits Library Package
packages/library/build
packages/library/node_modules

# NPM Papillon Bits Setup Package
packages/setup/build
packages/setup/node_modules
