# MacOS
.DS_Store

# Sublime Text
app.sublime-project
app.sublime-workspace

# Storybook
.storybook-static-develop
.storybook-static-release

# Test
coverage

# NPM Papillon Bits
.env
.npmrc
npm-debug.log
lerna-debug.log
node_modules
codecov

# NPM Papillon Bits Components Package
packages/components/build
packages/components/node_modules

# NPM Papillon Bits CSS Package
packages/CSS/build
packages/CSS/node_modules

# NPM Papillon Bits Library Package
packages/library/build
packages/library/node_modules
