// stylelint-disable custom-property-pattern

.item {
  &:hover {
    cursor: pointer;
    user-select: none;
  }
}

.row {
  &:nth-of-type(odd) {
    background-color: var(--bgColor-accent-muted, var(--color-accent-subtle)); // custom-style
  }
}

input[type='checkbox'] {
  &:hover {
    cursor: pointer;
    user-select: none;
  }
}

// custom-style
// .flexGrid-inactive {
//   @include inactive;
// }
