@import './misc.scss';
@import '../index.scss';

.btn {
  position: relative;
  display: inline-block;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  appearance: none;

  &:hover {
    text-decoration: none;
  }

  &:disabled,
  &.disabled,
  &[aria-disabled='true'] {
    cursor: default;

    .octicon {
      color: inherit;
    }
  }
}
