/*
  deprecated component
  https://primer.style/deprecated-components/flash

  check out
  https://primer.style/ui-patterns/notification-messaging

  implement
  https://primer.style/components/banner
*/

@import '@primer/view-components/app/components/primer/beta/flash';
